* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Maincon {
  background: url("./Assets/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(98, 162, 231, 0.25);
  box-shadow: 0 8px 32px 0 rgba(104, 112, 227, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 20px;
}

.cont input {
  height: 30px;
  font-size: 16px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px white;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.insidecon {
  background: url("./Assets/background1.jpg");
  background-size: cover;
  background-color: rgb(0, 17, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.todaytemp {
  width: 60vw;
  height: 80vh;
  margin: 20px;
  display: flex;
  box-shadow: 0 0 30px rgb(142, 142, 142);

}

.maintemp {
  width: 50%;
  height: 100%;
  background: url('./Assets/city1.jpg');
  background-size: cover;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.maintemp .CityName h1 {
  color: white;
  font-size: 4em;
}

.Citydetails {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Citydetails h1 {
  font-size: 3.5em;
}

.detailstemp {
  width: 50%;
  height: 100%;
  background: rgba(31, 29, 29, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  color: white;
  gap: 2%;
}

.detailstemp img {
  width: 30%;
  height: 20%;
}

.inputbox {
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.inputbox input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.inputbox input::placeholder {
  text-align: center;
}

.inputbox img {

  width: auto;
  height: 100%;
  cursor: pointer;
}

.forecasttemp {
  width: 90vw;
  height: 40vh;
  background-color: violet;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(70, 66, 140, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(109, 102, 206, 0.3);
  flex-wrap: wrap;
}

.forecasttemp .nexttemps {
  width: 15%;
  height: 90%;
  background: rgba(244, 244, 244, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(109, 102, 206, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forecasttemp .nexttemps h1 {
  width: auto;
}

.loadingcont {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media (max-width:700px) {
  .Maincon .cont {
    flex-direction: column;
  }

}


@media (max-width:1300px) {
  .todaytemp {
    width: 80vw;
    height: 110vh;
    flex-direction: column;
  }

  .maintemp {
    width: 100%;
    height: 50%;
  }

  .inputbox input {
    width: 50%;
  }

  .detailstemp {
    width: 100%;
    height: 50%;
  }

  .detailstemp h1 {
    font-size: 2em;
  }

  .forecasttemp {
    height: 90vh;
    width: 90vw;
  }

  .forecasttemp .nexttemps {
    width: 30%;
    height: 30%;
  }

  .forecasttemp .nexttemps h1 {
    font-size: 1.5em;
  }
}

@media (max-width:500px) {

  .detailstemp h1 {
    font-size: 1em;
  }

  .maintemp h1 {
    font-size: 1.5em;
  }

  .maintemp .CityName h1 {
    font-size: 2.5em;
  }

  .maintemp h2 {
    font-size: 1em;
  }

  .forecasttemp .nexttemps h1 {
    font-size: 1em;
  }
}

.custombutton {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%);
  width: 100px;
  height: 30px;
  font-size: 16px;

}

.custombutton::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #5555d9;
  border-radius: 10px;
}